.about {
    // border: 1px solid #BADA55;
    order: 1;
    grid-area: auto / span 1;
    text-align: center;
    grid-column: 1;
    grid-row: 1;

    @media (min-width: 620px) {
        grid-area: auto / span 2;
        -ms-grid-column-span: 2;
    }

    @media (min-width: 1280px) {
        grid-area: auto / span 1;
        grid-column: 2;
        -ms-grid-column-span: 1;
        order: 2;
        align-self: center;
    }
}

.heading {
    color: #d65055;
    font-size: 1.6rem;
    line-height: 1.2;
    position: relative;
    z-index: 7;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 620px) {
        font-size: 1.8rem;
    }
}

.text {
    font-size: 1.1rem;
    line-height: 1.7;
    position: relative;
    z-index: 7;

    @media (min-width: 620px) {
        font-size: 1.25rem;
    }
}

.link {
    font-family: "Montserrat", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
    text-decoration: none;
    border-bottom: 3px solid #d65055;
    color: #64727e;
    transition: color 0.1s ease-in, border 0.1s ease-in;
    position: relative;

    &:hover {
        @media (min-width: 1280px) {
            border-bottom: 3px solid #fff191;
            color: #fff191;
        }
    }
}
