.about {
    order: 1;
    grid-area: auto / span 1;
    text-align: center;
    grid-column: 1;
    grid-row: 1;

    @media (min-width: 620px) {
        grid-area: auto / span 2;
        -ms-grid-column-span: 2;
    }

    @media (min-width: 1280px) {
        grid-area: auto / span 1;
        grid-column: 2;
        -ms-grid-column-span: 1;
        order: 2;
        align-self: center;
    }
}

.heading {
    color: #d65055;
    font-size: 1.6rem;
    line-height: 1.2;
    position: relative;
    z-index: 7;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 620px) {
        font-size: 1.8rem;
    }
}

.text {
    font-size: 1.1rem;
    line-height: 1.7;
    position: relative;
    z-index: 7;

    @media (min-width: 620px) {
        font-size: 1.25rem;
    }
}

.link {
    font-family: "Montserrat", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: 0;
        height: 7px;
        background-color: #d65055;
        z-index: -1;
        transition: all 0.1s ease-in;
    }

    &:hover {
        @media (min-width: 1280px) {

            &:after {
                height: 100%;
            }
        }
    }
}
