.error {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 5;

    @media (min-width: 620px) {
        width: 90%;
        max-width: 800px;
    }
}

.heading {
    margin-top: 3em;
    font-size: 1.55rem;
}

.text {
    font-size: 1.25rem;
    max-width: 720px;
    margin: 0 auto;
}
