.imprint {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 1em;
    position: relative;
    z-index: 7;
    line-height: 1.7;

    @media (min-width: 620px) {
        max-width: 670px;
    }

    @media (min-width: 1280px) {
        width: 95%;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 3em;
        max-width: 1600px;
    }
}

.header {
    text-align: center;
    padding-bottom: 3em;
}

.heading {
    font-size: 1.6rem;
    color: #d65055;

    @media (min-width: 620px) {
        font-size: 1.8rem;
    }
}

.address {
    font-style: normal;
    margin-bottom: 0;

    @media (min-width: 620px) {
        margin: 0 auto;
        max-width: 300px;
    }

    @media (min-width: 1280px) {
        grid-column: 1;
    }
}

.addresstext {
    font-family: "Montserrat", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    margin-bottom: 0;
}

h3 {
    color: #fff;
}

.content,
.address {
    background-color: #27313a;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 2.5em 1.5em;
    font-size: 1.1rem;
    z-index: -2;

    @media (min-width: 620px) {
        padding: 2.5em;
        font-size: 1.25rem;
    }
}

.content {
    grid-row: 2;

    @media (min-width: 1280px) {
        grid-column: 2;
        grid-row: 1;
    }
}

.link {
    font-family: "Montserrat", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease-in;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: 0;
        height: 7px;
        background-color: #d65055;
        z-index: -1;
        transition: all 0.1s ease-in;
    }

    &:hover {
        @media (min-width: 1280px) {

            &:after {
                height: 100%;
            }
        }
    }
}
