.app {
    // border: 1px solid tomato;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    padding-top: 3em;
    width: 90%;
    margin: 0 auto;

    @media (min-width: 620px) {
        padding-top: 5em;
        grid-template-columns: 1fr 1fr;
        max-width: 690px;
    }

    @media (min-width: 1280px) {
        width: 95%;
        grid-template-columns: 1fr 2fr 1fr;
        max-width: 1600px;
        max-height: 1200px;
    }

    @media (min-width: 1680px) {
        grid-template-columns: 1fr minmax(400px, 2fr) 1fr;
        grid-gap: 5em;
    }
}
