.contact {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

.figure {
    order: 2;
    background-color: #27313a;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #d65055;
    border-radius: 50%;
    margin-right: 1em;
    padding: 13px;

    &:after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
    }
}

.icon_xing {
    composes: icon;
    order: 1;

    &:after {
        background-image: url(../../images/icon-github.svg);
    }
}

.icon_mail {
    composes: icon;
    order: 3;

    &:after {
        background-image: url(../../images/icon-mail.svg);
    }
}
